* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  outline: auto;
}
/* Start Top Bar */

.topbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  border-bottom: 0.3px solid rgb(236, 229, 229);
}

.vist {
  display: flex;
  gap: 3rem;
}

.vist-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vist-links .visit-txt {
  font-size: 14px;
}

.visit-icons {
  font-size: 1.2rem;
  margin-right: 7px;
  color: rgb(231, 87, 21);
}

.visit-txt {
  color: gray;
  font-size: 14px;
}

.social-icon {
  background-color: rgb(204, 202, 202);
  font-size: 0.8rem;
  color: white;
  padding: 8px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.social-icon:hover {
  background-color: rgb(231, 87, 21);
}

/* End Top Bar */

/* Start Header Section */

#header-section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
}

.logo {
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e1e1e;
  letter-spacing: 2px;
}

.header-details {
  display: flex;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 4rem;
  margin-right: 4rem;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.nav-menu a:hover {
  color: rgb(231, 87, 21);
}

.visit-icon {
  margin-right: 0.8rem;
  font-size: 0.9rem;
  background-color: rgb(231, 87, 21);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: -38px;
  z-index: 1;
}

.header-btn {
  display: flex;
  align-items: center;
}

#visit-btn {
  background-color: #212121;
  color: white;
  padding: 0.6rem 1.2rem 0.6rem 3rem;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

#visit-btn:hover {
  color: rgb(231, 87, 21);
}

/* Menu Icon */

.header-btn i {
  display: none;
  font-size: 2rem;
}

/* End Header Section */

/* Start Hero Section */

.hero-section {
  height: 120vh;
  background: url(/images/bg-banner-01.jpg);
  display: flex;
  align-items: center;
  margin: 0 10px;
  background-position: left;
  background-repeat: no-repeat;
}

.hero-text {
  margin-left: 15rem;
}

.hero-title {
  background-color: white;
  display: inline-block;
  padding: 6px 10px;
  font-size: 1rem;
}

#hero-heading {
  font-size: 3.6rem;
  color: white;
  line-height: 70px;
  margin-top: 1rem;
}

/* End Hero Section */

/* Start Feature Section */

.feature-section {
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 0;
}

.feature-content {
  display: flex;
}

.feature-img {
  width: 300px;
  height: 26rem;
  position: relative;
}

.feature-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feature-img .feature-img-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #f35525;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  left: -50px;
  cursor: pointer;
}

.feature-img .feature-img-icon img {
  width: 50%;
  height: auto;
}

.feature-text {
  width: 550px;
  height: 26rem;
  padding: 0 2rem;
}

.section-title {
  color: rgb(238, 98, 107);
  font-weight: 700;
  text-transform: uppercase;
}

.feature-heading {
  /* width: 300px; */
  /* outline: auto; */
  font-size: 2.4rem;
  margin-top: 2rem;
}

.feature-text ul {
  width: 100%;
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 2rem;
}

ul .feature-info-text {
  font-size: 17px;
  list-style: none;
  line-height: 50px;
  padding-left: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #1e1e1e;
}

ul .feature-info-text:nth-child(-n + 2) {
  border-bottom: 1px solid #eceaea;
}

ul .feature-info-text:hover {
  color: #dd4f24;
}

.feature-info-table {
  width: 270px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 2rem;
}

.feature-info-table ul {
  margin-top: 1rem;
}

.info-table-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 2rem;
}

.info-table-list:nth-child(-n + 3) {
  border-bottom: 1px solid rgb(223, 221, 221);
  padding-bottom: 2rem;
}

.info-text {
  margin-left: 1.6rem;
  font-weight: 600;
  font-size: 22px;
  color: #1e1e1e;
}

.info-text span {
  font-size: 14px;
  font-size: 15px;
  color: #aaaa;
  font-weight: 400;
}

/* End Feature Section */

/* Start Video Section */

.video-section {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 8rem 0;
  margin: 0 10px;
}

.video-section-container {
  width: 100%;
  background: url(/images/video-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.video-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  /* width: 350px; */
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.video-content {
  margin-top: -220px;
  border-radius: 10px;
  width: 70%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.video-content img {
  width: 100%;
  height: 100%;
}

.video-content a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  background-color: white;
  border-radius: 50%;
  color: #f35525;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 15px solid rgba(254, 85, 37, 0.5);
  text-decoration: none;
}

.video-counter-row {
  display: flex;
  gap: 5rem;
}

.counter {
  width: 300px;
  background-color: #ffeee9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
  margin-top: 8rem;
  position: relative;
}

.counter-circle {
  width: 50px;
  height: 50px;
  background-color: #f35525;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
}

.counter .counter-number {
  font-size: 40px;
  color: #f35525;
}

.counter .counter-text {
  font-size: 16px;
  color: #1e1e1e;
  line-height: 28px;
  font-weight: 600;
  margin-left: 1.8rem;
}

/* End Video Section */

/* Start Best Deal Section */

.deal-section {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 0;
}

.section-top-row {
  display: flex;
  gap: 22rem;
  margin-bottom: 4rem;
}

.section-heading {
  /* width: 330px; */
  font-size: 3rem;
  line-height: 56px;
  font-size: 40px;
  font-weight: 700;
  color: #1e1e1e;
  margin: 20px 0 0;
}

.section-top-row .deal-btns {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  gap: 20px;
}

.deal-btns button {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  background-color: #1e1e1e;
  color: #ffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deal-btns button:hover {
  background-color: #f35525;
}

.deal-section-content {
  display: flex;
  gap: 4rem;
}

#col-one {
  width: 270px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  border-radius: 10px;
}

#col-one li {
  list-style: none;
  color: #aaaaaa;
  font-size: 15px;
  margin: 0px 0px 24px;
  padding: 0px 0px 24px;
  font-weight: 400;
}

#col-one li:nth-child(-n + 4) {
  border-bottom: 1px solid rgb(223, 221, 221);
}

#col-one li span {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 700;
  float: right;
}

#col-two {
  width: 450px;
  height: 350px;
  overflow: hidden;
}

#col-two img {
  width: 100%;
  height: 100%;
}

#col-three {
  width: 300px;
  height: 400px;
}

.col-three-heading {
  font-size: 17px;
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 30px;
}

#col-three p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
  padding-bottom: 30px;
}

/* End Best Deal Section */

/* Start Property Section */

.property-section {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#prop-heading {
  margin-top: 8rem;
  text-align: center;
}

#prop-heading h4 {
  color: #1e1e1e;
  margin-top: 1rem;
  font-size: 40px;
  line-height: 56px;
}

.property-section-content {
  /* display: flex; */
  /* justify-content: center; */
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.property {
  flex-grow: 1;
  padding: 0 12px;
  /* width: 380px; */
  margin-top: 2rem;
}

.prop-item {
  padding: 30px;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prop-item .prop-img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 220px;
}

.prop-item .prop-img img {
  width: 100%;
  object-fit: cover;
}

.prop-body .catagory {
  padding: 5px 12px;
  background-color: #fbd9cf;
  color: #1e1e1e;
  font-size: 14px;
  margin-top: 25px;
  font-weight: 500;
  display: inline-block;
  border-radius: 6px;
}

.prop-body .price {
  float: right;
  margin-top: 30px;
  color: #f35525;
  font-size: 20px;
  font-weight: 700;
}

.prop-body a {
  line-height: 22px;
  color: #1e1e1e;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: #1e1e1e;
  margin-top: 1rem;
  text-align: left;
}

.prop-body ul {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(223, 221, 221);
}

.prop-body li {
  list-style: none;
  color: #4a4a4a;
  font-size: 15px;
  margin-right: 24px;
}

.prop-body li span {
  font-size: 15px;
  font-weight: 600;
  color: #1e1e1e;
}

.prop-visit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.prop-visit-btn button {
  font-size: 14px;
  padding: 10px 30px;
  font-weight: 500;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.prop-visit-btn button:hover {
  background-color: #f35525;
}

/* End Property Section */

/* Start Contact Section */

.contact-section {
  /* height: 200vh; */
  margin-top: 6rem;
}

#contact-heading {
  margin-top: 4rem;
  text-align: center;
}

#contact-heading h4 {
  color: #fafafa;
  font-size: 40px;
  width: 340px;
  margin-top: 1rem;
}

#section-bg {
  background: url(/images/contact-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.contact-section-content {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 4rem;
  margin-top: -250px;
  /* outline: auto; */
}

.map-left .map {
  border-radius: 10px;
  height: 480px;
  background-color: skyblue;
}

.contact-info {
  display: flex;
  gap: 3rem;
}

.info-box {
  width: 100%;
  height: 120px;
  margin-top: 3.4rem;
  display: flex;
  align-items: center;
  padding: 35px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.info-box h5 {
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 600;
  margin-left: 2rem;
}

.info-box span {
  font-size: 15px;
  color: #aaaaaa;
  font-weight: 400;
}

.contact-form {
  width: 30%;
  height: 660px;
  background-color: #fff;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.contact-form .input-box label {
  color: #3a3a3a;
  font-size: 15px;
}

.contact-form input,
textarea {
  width: 100%;
  margin: 10px 0 30px 0;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 20px;
  resize: none;
}

.contact-form textarea {
  height: 140px;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #1e1e1e;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s linear;
}

.contact-form button:hover {
  background-color: #f35525;
}

/* End Contact Section */

/* Footer */

footer {
  margin: 150px 10px 0 10px;
  /* height: 100px; */
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  align-items: center;
}

footer div {
  margin: 0 96px;
  padding: 12px 0;
}

footer div a {
  text-wrap: wrap;
  color: white;
  text-decoration: none;
  line-height: 70px;
}

/* Media Quiries */

/* Responsive for 1080px with  */

@media (max-width: 1080px) {
  /* Start Header Section */

  #header-section {
    padding: 0 4rem;
  }

  .nav-menu {
    gap: 3rem;
    margin-right: 2rem;
  }

  /* End Header Section */

  /* Start Feature Section */

  .feature-section {
    padding: 12rem 0;
  }

  .feature-content {
    display: flex;
  }

  .feature-img {
    width: 230px;
    height: 20rem;
  }

  .feature-text {
    width: 400px;
  }

  .feature-info-table ul {
    margin-top: 0;
  }

  .info-table-list {
    display: block;
    margin-bottom: 2rem;
  }

  .info-text {
    margin-left: 0;
  }

  /* End Feature Section */

  /* Start Video Section */


.video-counter-row {
  display: flex;
  gap: 2rem;
}

.counter {
  width: 300px;
  background-color: #ffeee9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
  margin-top: 8rem;
  position: relative;
}

.counter-circle {
  width: 50px;
  height: 50px;
  background-color: #f35525;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
}

.counter .counter-number {
  font-size: 40px;
  color: #f35525;
}

.counter .counter-text {
  font-size: 16px;
  color: #1e1e1e;
  line-height: 28px;
  font-weight: 600;
  margin-left: 1.8rem;
}

/* End Video Section */

  /* Start Best Deal Section */

.deal-section {
  padding: 8rem 0;
}

.section-top-row {
  gap: 6rem;
}


#col-one {
  width: 230px;
}


#col-one li span {
  display: block;
  float: none;
}

#col-two {
  width: 360px;
  height: 300px;
}

#col-three {
  width: 220px;
  height: 400px;
}

.col-three-heading {
  font-size: 17px;
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 30px;
}

#col-three p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
  padding-bottom: 30px;
}

/* End Best Deal Section */
}

/* Responsive for 1000px with  */

@media (max-width: 1000px) {
  /* Top Bar */

  .topbar {
    display: none;
  }

  /* Start Header Section */

  #header-section {
    justify-content: center;
  }

  .nav-menu {
    gap: 1rem;
    margin: 0 2rem;
  }

  .nav-menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  /* End Header Section */

  /* Start Hero Section */

  .hero-text {
    margin-left: 10rem;
  }
  /* End Hero Section */

  /* Start Feature Section */

  .feature-section {
    display: block;
    padding: 6rem 8rem;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
  }

  .feature-img {
    width: 100%;
    height: auto;
  }

  .feature-text {
    margin-top: 6rem;
    width: 100%;
    height: 100%;
  }

  .feature-info-table {
    margin-top: 4rem;
    width: 100%;
  }

  /* End Feature Section */

  /* Start Video Section */

  .video-section {
    /* padding: 0; */
    margin: 0;
  }

  .video-section-container {
    padding-top: 80px;
  }

  .video-content {
    margin-top: -200px;
    height: 310px;
  }

  .video-counter-row {
    display: block;
    margin-top: 3rem;
  }

  .counter {
    margin-top: 3rem;
  }

  /* End Video Section */

  /* Start Best Deal Section */

  .deal-section {
    display: block;
    padding: 6rem 8rem 0 8rem;
  }

  .section-top-row {
    display: block;
  }

  .deal-title {
    text-align: center;
  }

  .section-heading {
    text-align: center;
  }

  .section-top-row .deal-btns {
    justify-content: center;
    margin-top: 4rem;
  }

  .deal-section-content {
    display: block;
    gap: 4rem;
  }

  #col-one {
    width: 100%;
  }

  #col-two {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }

  #col-three {
    margin-top: 3rem;
    width: 100%;
  }

  /* End Best Deal Section */

  /* Start Property Section */

  .property-section-content {
    grid-template-columns: repeat(2, 1fr);
  }

  /* End Property Section */

  /* Start Contact Section */

  .contact-section {
    margin-top: 6rem;
  }

  #contact-heading {
    margin-top: 4rem;
    text-align: center;
  }

  #contact-heading h4 {
    width: 100%;
    margin-top: 1rem;
  }

  .contact-section-content {
    display: block;
    padding: 0 4rem;
  }

  .contact-info {
    display: block;
  }

  .info-box {
    margin-top: 2rem;
  }

  .contact-form {
    width: 100%;
    margin-top: 3rem;
  }

  /* End Contact Section */
}

/* Responsive for 770px with  */

@media (max-width: 770px) {
  /* Start Header Section */

  #header-section {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .nav-menu a {
    display: none;
  }

  .header-btn .visit-icon,
  #visit-btn {
    display: none;
  }

  /* Menu Icon */

  .header-btn i {
    display: block;
  }

  /* End Header Section */

  /* Start Property Section */

  .prop-item .prop-img {
    height: auto;
  }

  .property-section-content {
    grid-template-columns: repeat(1, 1fr);
  }

  /* End Property Section */
}

/* Responsive for 426px with  */

@media (max-width: 426px) {
  /* Start Hero Section */

  .hero-section {
    height: 140vh;
    /* height: 100%; */
  }

  .hero-text {
    margin-left: 4rem;
  }

  /* End Hero Section */

  /* Start Feature Section */

  .feature-section {
    padding: 8rem 1rem;
  }

  .feature-img .feature-img-icon {
    bottom: -30px;
    left: -30px;
  }

  /* End Feature Section */

  /* Start Video Section */

  .video-content {
    margin-top: -220px;
    width: 90%;
    height: 200px;
  }

  /* End Video Section */

  /* Start Best Deal Section */

  .deal-section {
    padding: 8rem 1rem;
  }

  .section-top-row .deal-btns {
    gap: 10px;
  }

  .deal-btns button {
    padding: 12px 25px;
    font-size: 12px;
  }

  /* End Best Deal Section */

  /* Start Property Section */

  /* End Property Section */

  /* Start Contact Section */

  .contact-section-content {
    padding: 0 1rem;
  }

  /* End Contact Section */

  /* Start Property Section */

  .property-section {
    padding: 1rem;
  }

  .property-section-content {
    padding: 0;
  }

  /* End Property Section */
}

/* Responsive for 346px with  */

@media (max-width: 346px) {
  .deal-btns {
    flex-wrap: wrap;
  }

  .counter {
    width: 260px;
  }
}
